a{
    color: #555;

    &:hover {
        text-decoration: none;
        color: #555;
    }
}
.results-wrapper{

    .list-group-item {
        margin-bottom: 0.5em;
        border-radius: 3px;
        border-color: black;
        background: scale-lightness(#333, 80%);
        box-shadow: -2px 2px 10px tint(#333, 25%);
        transition: all 0.5s ease-in;
        position: relative;
        perspective: 1000px;


        &:hover {
            box-shadow: -7px 7px 15px tint(#333, 32%);
            transform: translate3d(5px, -15px, 20px);
            border-radius: 8px;
            background: scale-lightness(#333, 95%);
        }


        h3 {
            @include adjust-font-size-to(20px);
            @include trailing-border(5px, 0.5, 20px, solid);
            border-color: $primary-text;
            text-align: center;
            color: $primary-text;
            transition: color 0.5s ease-in;

            &:hover {
                color: scale-lightness($primary-text, -30%);
            }

        }
    }
}