
.search-wrapper {
    @include adjust-font-size-to(24px);
    text-align: center;
    margin-top: 7em;
    perspective: 1000px;

    .swing {
        transform: rotateX(-32deg);
        box-shadow: 0 0 0 #333;
        transition: all .8s ease;

        &:focus {
            transform: rotateX(0deg);
            box-shadow: 0 0 23px $text-glow;
        }

    }
}

